.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 4em;
	min-height: 100svh;
	min-width: 100vw;
	margin: 0 auto;
}

.heading h1 {
	margin: 1em auto;
	font-size: 2.25em;
	font-weight: 700;
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 2em;
	max-width: 1100px;
}

.heading p {
	color: #718096;
}

.bio_image {
	box-shadow: var(--box-shadow);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.main {
		padding: 4em;
	}
	.heading h1 {
		font-size: 2em;
	}
}

/* Mobile */
@media (max-width: 700px) {
	.main {
		padding: 2em;
	}
	.heading h1 {
		font-size: 1.5em;
	}
}
