/* Style the loading wheel */
.loading_wheel_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading_wheel {
	border-top: 2px solid var(--text-grey); /* Blue */
	border-radius: 5em;
	width: 2em;
	height: 2em;
	animation: spin 1s linear infinite; /* Apply the animation */
}

/* Define the keyframes for the animation */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
